
<html>
 <head>
  <title>Три колонки</title>
  <style type="text/css">  
	#menu {
	width:200px;
	}
	
	#menu li {
	color:#333333;
	border:1px solid #333333;
	}
	
	#menu ol, #menu ul{
	list-style-type:none;
	}
	
	#menu li:hover{
	background-color:yellow;
	}
	.vidos
	{
	margin-left:30%;
	border:1px solid #333333;
	width:430px;
	
	}
	
	
	
  </style>
 </head>
 <body background-color = "#3333333">
 <img src="maga.png">
     <img src="laos.jpg">
     <img src="GB.png">
     <img src="gvine.png">

     <p> {{ owner }} </p>
     <p> {{ ansible_os_family }}  </p>
 <div class='vidos'>
 
 <p><a href = 'reg.html'>Зарегай свою команду прямо сейчас без смс и с регистрацией</a></p>
 </div>
 
 
 </form>
     
	<div id = 'menu'>
	<ol>
	<li>Группа А</li>
	<ul>
		<li>Arsenal</li>
		<li>Horses</li>
		<li>Porto</li>
		<li>Malme</li>
	</ul>
	<li>Группа B</li>
		<ul>
		<li>TTH</li>
		<li>Sosat` Real</li>
		<li>Juventus</li>
		<li>Spartak</li>
		</ul>
	<li>Группа C</li>
	<ul>
		<li>MU</li>
		<li>Lokomotiv</li>
		<li>Benfica</li>
		<li>PSV</li>
	</ul>
	<li>Группа D</li>
		<ul>
		<li>MC</li>
		<li>Zenit</li>
		<li>Ajax</li>
		<li>Bejictash</li>
		</ul>
	</ol>
	</div>
 </body>
</html>
